:root {
    --primary-fill-color: #FFFFFF;
    --primary-background-color: #F4F4F4;
    --secondary-background-color: #EBF1E7;
    --inactive-background-color: #BAC2BB;
    --secondary-fill-color: #727173;
    --primary-font-color: #111213;
    --accent-passive-color: #446E61;
    --accent-active-color: #67446E;
    --default-shadow-color: rgba(23, 28, 23, 0.58);

    --dryad-bark-color: #37352f;
    --white-color: #ffffff;
    --errigal-white-color: #f6f6f9;
    --gainsboro-color: #d9d9d9;
    --coral-red-color: #f93e3d;
    --translucent-unicorn-color: #fcecee;
    --soft-petals-color: #e9f6ef;
    --vegetation-color: #48cd90;
    --stonewall-grey-color: #c3c2c1;
    --astrogranite-debris-color: #3b414a;
    --aswad-black-color: #141519;
    --washed-black-color: #202528;
    --dark-violet-color: #6a0dad;
    --light-violet-color: #9b59b6;
    --medium-violet-color: #8e44ad;
    --soft-violet-color: #d2a6e6;




    --default-shadow: 0 0 4px 0 var(--default-shadow-color);

    --navbar-height: 75px;
    --content-padding: 16px;
    --content-radius-primary: 18px;
    --content-radius-secondary: 8px;
    --content-width-desktop: 1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
/* 
h1 {
    color: var(--primary-font-color);
}

h2 {
    color: var(--primary-font-color);
}

h3 {
    color: var(--primary-font-color);
}

h4 {
    color: var(--primary-font-color);
}

h5 {
    color: var(--primary-font-color);
} */

.common-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    color: var(--primary-font-color);
}

.common-text-small {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0%;

    color: var(--primary-font-color);
}

.common-text-inactive {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0%;

    color: #678259;
}

.primary-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;

    color: var(--accent-active-color);
}

.primary-text-small {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.5%;

    color: var(--accent-active-color);
}

.control-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.5%;

    color: var(--primary-font-color);
}

.footnote-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0%;

    color: var(--primary-font-color);
}

.dummy-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;

    color: var(--inactive-background-color);
}

div.application-container {
    min-height: 100vh;
}

.application-container.light,
.application-container.light a,
.application-container.light button,
.application-container.light h1,
.application-container.light h2,
.application-container.light h3 {
    color: var(--dryad-bark-color);
    background-color: var(--errigal-white-color);
}

.application-container.dark,
.application-container.dark a,
.application-container.dark button,
.application-container.dark h1,
.application-container.dark h2,
.application-container.dark h3  {
    color: var(--white-color);
    background-color: var(--aswad-black-color);
}

.application-container.purple,
.application-container.purple a,
.application-container.purple button,
.application-container.purple h1,
.application-container.purple h2,
.application-container.purple h3 {
    color: var(--white-color);
    background-color: var(--dark-violet-color);
}

.application-container.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.application-container.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.application-container.courier-new {
    font-family: 'Courier New', Courier, monospace;
}

.application-container.small-font {
    font-size: 12px;
}

.application-container.medium-font {
    font-size: 16px;
}

.application-container.large-font {
    font-size: 20px;
}
