:root {
    --dryad-bark-color: #37352f;
    --white-color: #ffffff;
    --errigal-white-color: #f6f6f9;
    --gainsboro-color: #d9d9d9;
    --coral-red-color: #f93e3d;
    --translucent-unicorn-color: #fcecee;
    --soft-petals-color: #e9f6ef;
    --vegetation-color: #48cd90;
    --stonewall-grey-color: #c3c2c1;
    --astrogranite-debris-color: #3b414a;
    --aswad-black-color: #141519;
    --washed-black-color: #202528;
    --dark-violet-color: #251531;
    --light-violet-color: #c767ed;
    --medium-violet-color: #8e44ad;
    --soft-violet-color: #5c366d;

    --default-shadow: 0 0 4px 0 var(--default-shadow-color);
    --navbar-height: 75px;
    --content-padding: 30px;
    --blocks-gap: 30px;

    --transition-time: .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.application-container {
    min-height: 100vh;
}

div.info {
    border: 2px solid;
    padding: 20px;
    border-radius: 20px;

    width: 100%;
}

header {
    z-index: 5;
    position: fixed;
    width: 100%;

    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

h2 {
    margin: 0;
}

button {
    transition: var(--transition-time);
    border: 1px solid;
    border-radius: 5px;

    width: 120px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;

    padding: 10px;

    user-select: none;
}

button.paginator-button {
    width: 50px;
}

button.select {
    transform: scale(1.1);
}

button:hover {
    cursor: pointer;
}

input {
    width: 100%;
    border: 2px solid;
    border-radius: 5px;

    padding: 10px;
}

.application-container.light,
.application-container.light a,
.application-container.light h1,
.application-container.light h2,
.application-container.light h3 {
    color: var(--dryad-bark-color);
    background-color: var(--errigal-white-color);
}

.application-container.light div.info {
    border-color: var(--aswad-black-color);
}

.application-container.light input {
    border-color: var(--aswad-black-color);
}

.application-container.light button,
.application-container.light .navigation-items {
    background-color: var(--errigal-white-color);
    color: var(--aswad-black-color);

    border: 2px solid var(--aswad-black-color);
}

.application-container.light button:hover {
    background-color: var(--aswad-black-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.light button.select {
    background-color: var(--aswad-black-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.light .loader {
    border-top: 20px solid var(--aswad-black-color);
}

.application-container.dark,
.application-container.dark a,
.application-container.dark h1,
.application-container.dark h3 {
    color: var(--white-color);
    background-color: var(--aswad-black-color);
}

.application-container.dark div.info {
    border-color: var(--errigal-white-color);
}

.application-container.dark button,
.application-container.dark .navigation-items {
    background-color: var(--aswad-black-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.dark button:hover {
    background-color: var(--errigal-white-color);
    color: var(--aswad-black-color);

    border: 2px solid;
}

.application-container.dark button.select {
    background-color: var(--errigal-white-color);
    color: var(--aswad-black-color);

    border: 2px solid;
}

.application-container.dark .loader {
    border-top: 20px solid var(--aswad-black-color);
}

.application-container.purple,
.application-container.purple a,
.application-container.purple h1,
.application-container.purple h3 {
    color: var(--white-color);
    background-color: var(--dark-violet-color);
}

.application-container.purple div.info {
    border-color: #af7ac4;
}

.application-container.purple button,
.application-container.purple .navigation-items {
    background-color: var(--dark-violet-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.purple button:hover {
    background-color: var(--light-violet-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.purple button.select {
    background-color: var(--light-violet-color);
    color: var(--errigal-white-color);

    border: 2px solid var(--errigal-white-color);
}

.application-container.purple .loader {
    border-top: 20px solid var(--dark-violet-color);
}

.application-container.arial,
.application-container.arial button,
.application-container.arial input {

    font-family: Arial, Helvetica, sans-serif;
}

.application-container.georgia,
.application-container.georgia button,
.application-container.georgia input {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.application-container.courier-new,
.application-container.courier-new button,
.application-container.courier-new input {
    font-family: 'Courier New', Courier, monospace;
}

.application-container.small-font,
.application-container.small-font button,
.application-container.small-font input {
    font-size: 10px;
}

.application-container.medium-font,
.application-container.medium-font button,
.application-container.medium-font input {
    font-size: 12px;
}

.application-container.large-font,
.application-container.large-font button,
.application-container.large-font input {
    font-size: 14px;
}
