.settings-page {
    max-width: var(--page-width, 800px);


    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--blocks-gap, 30px);

    padding-top: var(--content-padding, 16px);
}