.settings {
    max-width: 800px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.settings .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 30px;
}