.settings-field-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--blocks-gap, 30px);
}

.settings-field-menu .fields {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: var(--blocks-gap, 30px);
}