.wallets-page-chapter h2 {
    padding-bottom: var(--content-padding, 30px);
}

.wallets-page-chapter .wallet .data {
    padding-bottom: var(--content-padding, 30px);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wallets-page-chapter .wallet .data p {
    overflow: hidden;
    text-overflow: ellipsis;
}