.navigation-bar .items-list {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar .items-list.column {
    flex-direction: column;
    align-items: flex-start;
}

.navigation-bar .items-list .item {
    width: 100%;
    user-select: none;

    padding: 10px;
    text-align: center;
}

.navigation-bar .items-list .item:hover {
    cursor: pointer;
}